# Ignore virtual environment directory
myenv/

# Ignore Python cache directories
**/__pycache__/

# Ignore Python bytecode files
*.pyc

# Ignore pytest output files
**/direct_pytest_output.txt
**/reference_pytest_output.txt
**/mutation_test_results.txt

# Ignore other files and directories
.DS_Store
.env
